/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

#contact {
	width: 50%;
	margin: auto;
}

#contact > * {
	text-align: center;

}

#contact h2{
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.unpressed {
	font-family: 'Syne';
	font-weight: 700;
	color: #1D6154;
	background-color: white;
	margin : 2em .5em;
	text-align: center;
	border: .15em solid #1D6154;
	border-radius: 60px;
	padding: .5em 2em;
}

.unpressed:hover {
	background-color: #adeee2;
	cursor: pointer;
	transition: all .3s ease-in-out;
}

.pressed {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em .5em;
	text-align: center;
	border-radius: 60px;
	padding: .5em 2em;
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

.filterList {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	list-style-type: none;
}

a {
	text-decoration: none;
	color: inherit;
}

b {
	font-weight: bold;
}

#login {
	width: 35%;
	margin: auto;
}

#login > * {
	text-align: center;

}

#login h2{
	margin-bottom: 20px;
}

#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login label {
	margin: 2em 0 1em 0;
}

#login a {
	display: flex;
	justify-content: center;
	text-decoration: underline;
}

.error {
	color: red;
	text-shadow: red 1px 0 4px;
}

.success {
	color: green;
	text-shadow: green 1px 0 4px;
}

.bold {
	font-weight: bold;
}

.banner {
	display: flex;
	background-color: black;
	width: 100%;
	height: 3em;
	max-width: initial;
	color: white;
	font-family: 'Work Sans';
	align-items: center;
	justify-content: center;
	gap: 2.5em;
	/* doit passer au-dessus des modales */
	position: relative;
	z-index: 2;
}

.banner p {
	display: flex;
	font-size: 16px;
	gap: .5em;

	/* center icon with text */
	align-items: center;
}

.banner button {
	background-color: white;
	font-family: inherit;
	font-size: 14px;
	color: black;
	padding: .7em 1.3em;
	outline: none;
	border-radius: 4em;
	font-weight: bold;
	cursor: pointer;
}

#introduction .editButton {
	display: flex;
	gap: .5em;
	margin: .9em auto;
	/* aligner avec la photo */
	width: 80%;
	align-items: center;
}

#portfolio h2 {
	display: flex;
	margin-bottom: 1em;
	gap: .5em;
	justify-content: center;
	align-items: center;
}

#portfolio .editButton {
	display: flex;
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: lighter;
	color: black;
	gap: .5em;
	cursor: pointer;
	margin: .9em 1em;
	align-items: center;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.3);

	/* when flex */
	justify-content: center;
	align-items: center;

	animation: fadeIn .3s both;
}

.modal-wrapper {
	background-color: white;
	padding: 2em 2.5em;
	border-radius: .6em;
	box-sizing: border-box;
	max-width: 50em;
	/* height: 60%; */
	animation: slideIn .3s both;
}

#modalWindow h2 {
	display: flex;
	justify-content: center;
	font: 26px 'Work Sans';
	font-weight: lighter;
	color: black;
	margin: 1em auto 2em auto;
}

#modalWindow button[id="closeButton"] {
	float: right;
	font-size: 20px;
	outline: none;
	border: none;
	background-color: white;
	padding: 0;
	cursor: pointer;
}

/*  empêcher le clic sur les icones fontawesome
	de déclencher un pointer event (confort de code) */
i {
	pointer-events: none;
}

.modal-main {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-column-gap: .5em;
	grid-row-gap: .5em;
	border-bottom: .2em solid #B3B3B3;
	margin: 2em 6.5em;
}

.modal-main figure {
	display: flex;
	flex-direction: column;
	margin-bottom: .5em;
}

.modal-main figure:last-child {
	margin-bottom: 3em;
}

.modal-main img {
	width: 100%;
	margin-bottom: .4em;
}

#modalWindow button {
	display: flex;
	margin: auto;
	border: none;
	font: 16px 'Syne', serif;
	padding: .5em 3em;
	cursor: pointer;
}

#modalWindow a {
	display: flex;
	justify-content: center;
	margin: 2em;
	font: 14px 'Syne', serif;
	color: #D65353;
}

#modalWindow .options {
	display: flex;
	flex-flow: row nowrap;
	position: absolute;
	gap: .3em;
}

/* Ajouter le bouton "move" au survol */
#modalWindow .modal-main figure #move {
	display: none;
}

#modalWindow .modal-main figure:hover #move {
	display: flex;
}

#modalWindow .modal-main figure:hover .optionsButton {
	left: 2.04em;
}

#modalWindow .optionsButton {
	position: relative;
	justify-content: flex-end;
	background-color: black;
	border-radius: .2em;
	padding: 0;
	width: 1.2em;
	height: 1.2em;
	top: .4em;
	left: 3.5em;
	margin: 0;
	justify-content: center;
	align-items: center;
}

#modalWindow .optionsButton i {
	pointer-events: none;
	color: white;
	font-size: 11px;
}

#modalWindow .promptContainer {
	display: grid;
	grid-template-columns: 2fr 1fr;
	row-gap: 1.3em;
	column-gap: .5em;
	width: 100%;
	position: relative;
	top: -50%;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border-radius: .2em;
}

#modalWindow .promptContainer p {
	grid-row: 1 / 3;
	grid-column: 1 / 3;
	text-align: center;
}

#modalWindow .promptContainer #yes {
	padding: 0 .5em;
	width: 100%;
	background-color: #1D6154;
	color: white;
	font-family: 'Work Sans';
	font-weight: lighter;
	border-radius: .3em;
	font-size: 12px;
	justify-content: center;

	grid-row: 2 / 2;
	grid-column: 1 / 2;
}

#modalWindow .promptContainer #no {
	padding: 0 .5em;
	width: 100%;
	background-color: #D65353;
	color: white;
	font-family: 'Work Sans';
	font-weight: lighter;
	border-radius: .3em;
	font-size: 12px;
	justify-content: center;
	
	grid-row: 2 / 3;
	grid-column: 2 / 3;
}


/* Animation */
#modalWindow[aria-hidden="true"] {
	animation-name: fadeOut;
}

#modalWindow[aria-hidden="true"] .modal-wrapper {
	animation-name: slideOut;
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeOut {
	from {opacity: 1;}
	to {opacity: 0;}
}

@keyframes slideIn {
	from {transform: translateY(-4em);}
	to {transform: translateY(0);}
}

@keyframes slideOut {
	from {transform: translateY(0);}
	to {transform: translateY(4em);}
}
